.row {
    color: #fff;
    margin-left: 20px;
  }
  
  .row-posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
  }
  
  .row-posters::-webkit-scrollbar {
    display: none;
  }
  
  .row-poster {
    object-fit: contain;
    width: 100%;
    max-height: 120px;
    transition: transform 450ms;
    margin-right: 10px;
  }
  
  .row-poster:hover {
    transform: scale(1.08);
  }
  
  .row-posterLarge {
    max-height: 250px;
    margin-right: 10px;
  }
  
  .row-posterLarge:hover {
    transform: scale(1.09);
  }
  