.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 50px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
  }
  .nav-black {
    background-color: #111;
    
  }
  
  .nav-button {
    position: fixed;
    right: 20px;
    margin: 20px;
    object-fit: contain;
  }
  