.backgound {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../../images/background.jpg") no-repeat center center/cover;
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.backgound-loading {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("../../images/background.jpg") no-repeat center center/cover;
  box-shadow: inset 240px 200px 500px #000000, inset -240px -200px 500px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.form {
  background-color: rgba(20, 20, 20, 0.85);
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 30px;
  width: 320px;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303036;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: rgba(20, 20, 20, 0.0);
  border-radius: 10px;
  height: 20px;
  left: 25px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translate(-7px,7px);
  background-color: rgba(20, 20, 20, 0.85);
  font-weight: bold;
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #e50914;
}

.submit {
  background-color: #e50914;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #eee;
}

.form-fotter {
  margin-top: 25px;
  margin-bottom: 15px;
  color: #eee;
  font-size: 12px;
}

.error-title{
  margin-bottom: 20px;
  color: #eee;
}

.colum{
  flex-direction: column;
}

.colum-box {
  background-color: rgba(20, 20, 20, 0.85);
  padding: 50px;
}

.btn-retry{
  margin-bottom: 20px;
  margin-right: 40px;
}