.movie {
    color: #fff;
    object-fit: contain;
    height: 600px;
  }
  
  .movie-contents {
    margin-left: 30px;
    padding-top: 140px;
    height: 190px;
  }
  
  .movie-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }
  
  .movie-description {
    background-color: rgba(51, 51, 51, 0.5);
    width: 45rem;
    margin-top: 10px;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 10px;
    margin-right: 1rem;
  }
  
  .movie-button {
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 0.2vw;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1rem;
    padding-top: 0.5rem;
    background-color: rgba(51, 51, 51, 0.5);
    padding-bottom: 0.5rem;
  }
  
  .movie-button:hover {
    color: #000;
    background-color: #e6e6e6;
    transition: all 0.2s;
  }
  
  
  