ul {
    list-style: none;
  }
  
  p {
    margin: 0.5rem 0;
  }
  
  .footer {
    max-width: 70%;
    margin: 1rem auto;
    overflow: auto;
  }
  
  .footer,
  .footer a {
    color: #999;
    font-size: 0.9rem;
  }
  
  .footer p {
    margin-bottom: 1.5rem;
  }
  
  .footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 7rem;
    margin-bottom: 50px;
  }
  
  .footer li {
    line-height: 1.9;
  }
  
  .footer .lang-select {
    margin-top: 2rem;
    color: #999;
    background-color: #000;
    background-image: none;
    border: 1px solid #333;
    padding: 1rem 1.2rem;
    border-radius: 5px;
  }
  
  @media (max-width: 960px) {
    .footer .footer-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  