
.card {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    width: auto;
    margin: 40px;
  
    .shimmerBG {
      animation-duration: 2.2s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: shimmer;
      animation-timing-function: linear;
      background: linear-gradient(to right, #292828 8%, #242323 18%, #272626 33%);
      background-size: 1200px 100%;
    }
  
    @-webkit-keyframes shimmer {
      0% {
        background-position: -100% 0;
      }
      100% {
        background-position: 100% 0;
      }
    }
  
    @keyframes shimmer {
      0% {
        background-position: -1200px 0;
      }
      100% {
        background-position: 1200px 0;
      }
    }
  
    .media {
      height: 200px;
    }
  
    .p-32 {
      padding: 32px;
    }
  
  
  
    .content-line {
      height: 8px;
      width: 100%;
      margin-bottom: 16px;
      border-radius: 8px;
    }
  
    .end {
      width: 40%;
    }
  }
  
  .m-t-24 {
    margin-top: 24px;
  }
  