.backgound-loading {
    width: 100%;
    height: 93vh;
    position: relative;
    background: url("../../images/background.jpg") no-repeat center center/cover;
    box-shadow: inset 240px 200px 500px #000000, inset -240px -200px 500px #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .colum{
    flex-direction: column;
  }

  .colum-box {
    background-color: rgba(20, 20, 20, 0.85);
  }

  .spinner-text {
    margin-top: 50px;
  }

  .spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -25px;
    width: 50px;
    height: 50px;
    
    & .path {
      stroke: #e50914;
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
  